body {
  background-color: #e6ecf0;
}

/* Nav */

.navbar {
  margin-bottom: 1rem;
}

.navbar a {
  font-weight: bold;
  color: white;
}

.navbar a:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.navbar {
  display: flex;
}

.navbar-brand > img {
  width: 50px;
}

ul.nav.navbar-nav li {
  margin: 0 0.5rem;
}

.onboarding > .navbar {
  background-image: url("./images/nav-bg.png");
  background-size: 100% 100%;
}

.home-hero {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  text-align: center;
  padding: 1rem;
  background-color: #232323;
  color: #fff;
  text-shadow: 0 0 8px #66757f;
}

#movies .list-group-item {
  display: flex;
  align-items: flex-start;
  padding: 7px 20px 12px;
}

#movies:not(.no-hover) .list-group-item:hover {
  background-color: #e6ecf0;
}

.feedItem {
  margin: 5px;
}

.timeline-image {
  border-radius: 50px;
  height: 48px;
  width: 48px;
  margin: 2px 30px 10px 10px;
}

.btn:hover {
  cursor: pointer;
}

a.btn.btn-danger,
a.btn.btn-danger:hover {
  color: white;
}

.navbar-header {
  margin: 0 auto;
}

.personalRecommendationItem {
  border: 1px solid grey;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.createItemForm {
  border: 1px solid grey;
  margin: 5px;
  padding: 35px;
  border-radius: 5px;
}

.recommendationsFeed {
  border: 1px solid grey;
  margin: 10px;
  padding: 35px;
  border-radius: 5px;
}

.friendsSearch {
  border: 1px solid grey;
  margin: 10px;
  padding: 35px;
  border-radius: 5px;
}

.friendRequests {
  border: 1px solid grey;
  margin: 10px;
  padding: 35px;
  border-radius: 5px;
}

.friendsList {
  border: 1px solid grey;
  margin: 10px;
  padding: 35px;
  border-radius: 5px;
}

.itemDate {
  display: flex;
  justify-content: flex-end;
}

.profile-pic {
  width: 100px;
  border-radius: 15px;
}
