* {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

html, .main {
  background-color: #efefef;
}

.app {

}

.layout {
  height: 100vh;
  text-align: center;
  padding: 1rem;
  color: #232323;
  background-image: url("images/cover.jpg");
  background-position: center;
  background-size: cover;
}

.hide-background {
  background-image: none;
  height: 100vh;
  background-color: #cdcdcd;
}

.cover-image {
  width: 500px;
  border-radius: 25px;
  display: none;
}

.logo {
  width: 70px;
}

.logged-out-message {
  background-color: rgba(245, 245, 245, 0.95);
  width: 400px;
  padding: 25px;
  border-radius: 25px;
  border: 10px solid #cbcbcb;
  margin: 50px auto 0 auto;
}

.logged-out-message h1 {
  font-family: 'Lato', sans-serif;
}

@media (max-width: 610px) {
  .logged-out-message {
    width: 100%;
  }
}

/* NAVIGATION */
.navbar {
  width: !important 100%;
  display: flex;
  background-color: black;
  background-size: 100%;
}

.navbar a {
  font-weight: bold;
  color: white;
}

.navbar a:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.navbar-brand > img {
  width: 35px;
}

ul.nav.navbar-nav li {
  margin: 0 0.5rem;
}

.feed {
  margin: 0 auto;
}

.feed ul {
  list-style: none;
  display: inline;
}

.itemDate {
  text-align: right;
}
.timeline-image {
  max-width: 75px;
  max-height: 75px;
  width: auto;
  height: auto;
  border-radius: 50%;
}

.btn:hover {
  cursor: pointer;
}

a.btn.btn-danger,
a.btn.btn-danger:hover {
  color: white;
}

.navbar-header {
  margin: 0 auto;
}

.personalRecommendations {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
}

.personalRecommendationMessage {
  margin: 10px auto;
}

@media (max-width: 500px) {
  .personalRecommendations {
    width: 100%;
    padding: 10px;
  }
}

.personalRecommendationItem {
  margin: 5px auto;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
}

.personalRecommendationItem * {
  margin-bottom: 10px;
}

.createItemForm {
  margin: 0 auto;
  padding: 35px;
  border-radius: 5px;
  background-color: rgb(253, 253, 254);
  width: 500px;
}

@media (max-width: 500px) {
  .createItemForm {
    width: 100%;
  }
}

.friendsSearch,
.friendRequests,
.friendsList {
  margin: 10px auto;
  padding: 35px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.75);
  width: 500px;
}

.centered-title {
  text-align: center;
  padding-bottom: 5px;
}

@media (max-width: 500px) {
  .friendsSearch,
  .friendRequests,
  .friendsList {
    width: 100%;
  }
}

.Date {
  display: flex;
  justify-content: flex-end;
}

.profile-pic {
  width: 100px;
  border-radius: 5px;
}

.mealImage,
.restaurantImage,
.destinationImage {
  width: 400px;
  border: 1px solid #dddddd;
  border-radius: 15px;
}

@media (max-width: 600px) {
  .mealImage,
  .restaurantImage,
  .destinationImage {
    width: 90%;
    margin: 0 auto;
  }
}

.btn-primary {
  background-color: #18366d !important;
  border: 1px solid white !important;
  width: 150px;
}

.btn-secondary {
  margin: 0 auto;
  width: 150px;
}

.friends {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.btn-danger {
  background-color: #451562 !important;
  border: 1px solid white !important;
  width: 150px;
}

.btn-dark {
  border: 1px solid white !important;
  width: 150px;
}

.navProfilePic {
  max-width: 40px;
  max-height: 40px;
  width: auto;
  height: auto;
  border-radius: 50%;
}

.customButton1 {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(62, 35, 91);
  color: white;
  width: 250px;
  font-size: 13px;
  margin: 0;
  /* font-family: 'Archivo Black', sans-serif; */
}

.filterMenu {
  text-align: left;
  margin: 15px auto;
  width: 500px;
  color: white;
}

@media (max-width: 500px) {
  .filterMenu {
    width: 100%;
  }
}

.create-form {
  width: 900px;
}

.filterCheckbox {
  margin: 0 10px;
}

.ellipsis {
  color: #6c757d;
}

/* Style The Dropdown Button */
.dropbtn {
  color: white;
  padding: 5px;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

.showMenu {
  display: block;
}

.dropdown:hover .dropbtn .ellipsis {
  color: black;
}

.categoryFilters {
  display: grid;
  grid-template-columns: 50% 50%;
}

.friendFilter {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 9px;
  margin-bottom: 2px;
  border-radius: 0;
}

.friendFilter input {
  width: 100%;
}

.typeFilter {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  margin-bottom: 2px;
  border-radius: 0;
}

.types {
  display: grid;
  grid-template-columns: 50% 50%;
}

.includeFilter {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  margin-bottom: 2px;
  border-radius: 0;
}

.onlyFilter {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom: 2px;
  border-radius: 0;
}

.onlyFilter div, .includeFilter div {
  margin-bottom: 20px;
}

.fa-film {
  font-size: 20px;
  color: #6c757d;
}

.fa-tv {
  font-size: 16px;
  color: #6c757d;
}

.fa-hamburger {
  font-size: 19px;
  color: #6c757d;
}

.fa-utensils {
  font-size: 19px;
  color: #6c757d;
}

.fa-plane {
  font-size: 17px;
  color: #6c757d;
}

.fa-lightbulb {
  font-size: 17px;
  color: #6c757d;
}

.availableOn {
  font-size: 10px;
}

.impressions {
  margin-left: 118px;
}

.createItemForm * {
  margin-bottom: 10px;
}

.welcomeMessage {
  width: 900px;
  border-radius: 5px;
  background-color: white;
  margin: 0 auto;
  padding: 10px;
}

@media (max-width: 900px) {
  .welcomeMessage {
    width: 90vw;
  }
}

.auth {
  padding-top: 50px;
}

.authForm {
  width: 500px;
  margin: 0 auto;
  background-color: rgba(245, 245, 245, 0.95);
  padding: 40px;
  border-radius: 25px;
  border: 10px solid #cbcbcb;
}

@media (max-width: 500px) {
  .authForm {
    width: 96%;
  }
}

.fa-plus {
  color: #ff4949;
}

.fa-search {
  color: #0fff00;
}

.feedButtons {
  width: 500px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .feedButtons {
    width: 100%;
  }
}


.btn-success {
  width: 30%;
  padding: 10px;
  border: 1px solid white !important;
  background-color: black !important;
}

.btn-success i {
  margin-right: 5px;
}

.fa-home,
.fa-envelope,
.fa-users,
.fa-cog,
.fa-sign-out-alt {
  font-size: 16px;
  margin: 10px;
  color: white;
}

.navImageContainer {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
}

.navImage {
  height: 40px;
  border-radius: 5px;
}
.changeProfilePicImage {
  max-width: 200px;
}

.fa-heart {
  color: #c11c1c;
  font-size: 16px;
}
.fa-bookmark {
  color: orange;
  font-size: 16px;
}

.light {
  color: #eeeeee;
}

.uiMessage {
  font-size: 16px;
  color: #029691;
  width: 300px;
}

.deleteItemDialog {
  height: auto;
  z-index: 100;
  border: none;
  border-radius: 15px;
  opacity: 80%;
  background-color: black;
  color: white;
  margin: 0 auto;
  position: fixed;
}

.sign-up-button {
  margin: 0 auto;
}

.personalRecommendationForm {
  background-color: white;
  width: 500px;
  margin: 0px auto;
  border-radius: 5px;
  padding: 10px;
}

.settings {
  text-align: center;
}

@media (max-width: 500px) {
  .settings {
    width: 100%;
  }
}


.profilePictureForm, .changePasswordForm {
  background-color: rgba(255, 255, 255, 0.75);
  width: 500px;
  margin: 10px auto;
  border-radius: 5px;
  padding: 30px;
}

@media (max-width: 500px) {
  .profilePictureForm, .changePasswordForm {
    width: 100%;
  }
}

.profilePictureForm * {
  display: block;
  margin: 10px auto;
  text-align: center;
}

.profilePictureForm img {
  border: 3px solid white;
  border-radius: 5px;
}

.changePasswordForm input {
  width: 300px;
  margin: 10px auto;

}

.fa-hands-helping {
  text-align: right;
  font-size: 20px;
}

.likeCount {
  text-align: right;
}

.liked {
  color: green;
}

.personalRecMessage {
  height: 40px !important;
}

.update-form {
  width: 500px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

@media (max-width: 500px) {
  .update-form {
    width: 100%;
  }
}

.app-name {
  color: #228270;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  padding-top: 10px;
}

.btn {
    border-radius: 25px !important;
}

.post-header {
  display: flex;
}

/* .recbookicon {
  align-self: left;
} */

.post {
  background-color: #989898;
  margin-bottom: 10px;
}
