/* Home, Background, and Logged Out */

* {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

html {
  background-color: #efefef;
  /* background-color: red; */
}

.layout {
  height: 100vh;
  text-align: center;
  padding: 1rem;
  color: #232323;
  background-image: url("images/cover.jpg");
  background-position: center;
  background-size: cover;
}

.hide-background {
  background-image: none;
  height: 100vh;
  background-color: #efefef;
}

.logo {
  width: 80px;
}

.logged-out-message {
  background-color: rgba(245, 245, 245, 0.95);
  width: 400px;
  padding: 25px;
  border-radius: 25px;
  border: 10px solid #cbcbcb;
  margin: 50px auto 0 auto;
}

.logged-out-message h1 {
  font-family: 'Lato', sans-serif;
}

@media (max-width: 600px) {
  .logged-out-message {
    width: 100%;
  }
}

/* Auth */
.auth {
  padding-top: 50px;
}

.authForm {
  width: 500px;
  margin: 0 auto;
  background-color: rgba(245, 245, 245, 0.95);
  padding: 40px;
  border-radius: 25px;
  border: 10px solid #cbcbcb;
}

@media (max-width: 500px) {
  .authForm {
    width: 96%;
  }
}

/* Navigation */

.navImageContainer {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
}

.navImage {
  height: 40px;
  border-radius: 5px;
}

.navbar {
  width: !important 100%;
  display: flex;
  background-color: black;
  background-size: 100%;
}

.navbar a {
  font-weight: bold;
  color: white;
  font-size: 16px;
}

.navbar a:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.navbar-brand > img {
  width: 35px;
}

ul.nav.navbar-nav li {
  margin: 0 0.5rem;
}

.navProfilePic {
  max-width: 40px;
  max-height: 40px;
  width: auto;
  height: auto;
  border-radius: 50%;
}

.navbar-header {
  margin: 0 auto;
}

/* Feed */
.feed {
  margin: 0 auto;
}

.feed ul {
  list-style: none;
  display: inline;
}

.timeline-image {
  max-width: 75px;
  max-height: 75px;
  width: auto;
  height: auto;
  border-radius: 50%;
}

.filterMenu {
  text-align: left;
  margin: 15px auto;
  width: 500px;
  color: white;
}

@media (max-width: 500px) {
  .filterMenu {
    width: 100%;
  }
}

.friendFilter {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 9px;
  margin-bottom: 2px;
  border-radius: 0;
}

.friendFilter input {
  width: 100%;
}


/* New Post Form */

.createItemForm {
  margin: 0 auto;
  padding: 35px;
  border-radius: 5px;
  background-color: rgb(253, 253, 254);
  width: 500px;
}

@media (max-width: 500px) {
  .createItemForm {
    width: 100%;
  }
}


/* Friends */
.friendsSearch,
.friendRequests,
.friendsList {
  margin: 10px auto;
  padding: 35px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.75);
  width: 500px;
}

.centered-title {
  text-align: center;
  padding-bottom: 5px;
}

@media (max-width: 500px) {
  .friendsSearch,
  .friendRequests,
  .friendsList {
    width: 100%;
  }
}

.friends {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Settings */
.profile-pic {
  width: 100px;
  border-radius: 5px;
}

/* Buttons */

.btn-success {
  width: 30%;
  padding: 10px;
  border: 1px solid white !important;
  background-color: black !important;
}

.btn-success i {
  margin-right: 5px;
}

.changeProfilePicImage {
  max-width: 200px;
}

.fa-heart {
  color: #c11c1c;
  font-size: 16px;
}
.fa-bookmark {
  color: orange;
  font-size: 16px;
}

.light {
  color: #eeeeee;
}

.uiMessage {
  font-size: 16px;
  color: #029691;
  width: 300px;
}

.deleteItemDialog {
  height: auto;
  z-index: 100;
  border: none;
  border-radius: 15px;
  opacity: 80%;
  background-color: black;
  color: white;
  margin: 0 auto;
  position: fixed;
}

.sign-up-button {
  margin: 0 auto;
}

.btn:hover {
  cursor: pointer;
}

a.btn.btn-danger,
a.btn.btn-danger:hover {
  color: white;
}

.btn-primary {
  background-color: #18366d !important;
  border: 1px solid white !important;
  width: 150px;
}

.btn-secondary {
  margin: 0 auto;
  width: 150px;
}

.btn-danger {
  background-color: #451562 !important;
  border: 1px solid white !important;
  width: 150px;
}

.btn-dark {
  border: 1px solid white !important;
  width: 150px;
}

.customButton1 {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(62, 35, 91);
  color: white;
  width: 250px;
  font-size: 13px;
  margin: 0;
}

.ellipsis {
  color: #6c757d;
}

.dropbtn {
  color: white;
  padding: 5px;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

/* Dropdown Menu */
.dropdown {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.showMenu {
  display: block;
}

.dropdown:hover .dropbtn .ellipsis {
  color: black;
}


/* Welcome Message (shown once) */
.welcomeMessage {
  width: 900px;
  border-radius: 5px;
  background-color: white;
  margin: 0 auto;
  padding: 10px;
}

@media (max-width: 900px) {
  .welcomeMessage {
    width: 90vw;
  }
}


.fa-plus {
  color: #ff4949;
}

.fa-search {
  color: #0fff00;
}

.feedButtons {
  width: 500px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .feedButtons {
    width: 100%;
  }
}


.settings {
  text-align: center;
}

@media (max-width: 500px) {
  .settings {
    width: 100%;
  }
}

.profilePictureForm, .changePasswordForm {
  background-color: rgba(255, 255, 255, 0.75);
  width: 500px;
  margin: 10px auto;
  border-radius: 5px;
  padding: 30px;
}

@media (max-width: 500px) {
  .profilePictureForm, .changePasswordForm {
    width: 100%;
  }
}

.profilePictureForm * {
  display: block;
  margin: 10px auto;
  text-align: center;
}

.profilePictureForm img {
  border: 3px solid white;
  border-radius: 5px;
}

.changePasswordForm input {
  width: 300px;
  margin: 10px auto;

}

.fa-hands-helping {
  text-align: right;
  font-size: 20px;
}

.likeCount {
  text-align: right;
}

.liked {
  color: green;
}

.update-form {
  width: 500px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

@media (max-width: 500px) {
  .update-form {
    width: 100%;
  }
}

.app-name {
  color: #228270;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  padding-top: 10px;
}

.btn {
    border-radius: 25px !important;
}

.post-header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.post-header * {
  margin: auto;
  padding: 10px
}

.post {
  background-color: white;
  margin-bottom: 10px;
  margin: 0 auto 10px auto;
  width: 600px;
  border-radius: 15px;
}

.postImage {
  width: 500px;
  border: 2px solid #cbcbcb;
  margin-bottom: 50px;
  border-radius: 20px;
}

@media (max-width: 600px) {
  .postImage {
    width: 90%;
  }
}

.postUsername {
  font-size: 14px;
  font-weight: bold;
  color: #a9a7a7;
}

.postContent {
  font-style: italic;
}
